.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    header {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        a {
            margin: 0px 10px;
            img {
                margin-top: 10px;
                width: 40px;
                height: 40px;
            }
        }
    }

    h4.copyright {
        color: grey;
        position: absolute;
        bottom: 10px;
    }
}
